@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1519px;
  width: 86%; 
  margin: 0 auto;
}


/*=================================
  Header styling starts here
=================================*/
header {
  background-color: #a52a2a;
}

header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 38%;
  border-radius: 50px;
}

.hamburger,
.cross {
  display: none;
  text-indent: -9999px;
}

.hamburger::before,
.cross::before {
  content: "\f0c9";
  float: right;
  color: #000;
  font-family: "fontAwesome";
  text-indent: 0;
}

.cross::before {
  content: "\f00d";
}

.menus {
  flex-basis: 20%;
}

.menus ul {
  display: flex;
  justify-content: space-between;
}

.menus ul li a {
  color: #ffff00;
}

.logout {
  color: #fff;
}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

/* login page styling start  */

main {
    width: 100%;
    background-image: url(https://blog.playo.co/wp-content/uploads/2017/03/football-shots-you-need-to-know.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000;
    background-blend-mode:luminosity;
    color: #fff;
}

.login-page {
  min-height: 100vh;
}

.login-page .wrapper {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(0,128,0,0.7);
}

h1 {
  text-align: center;
  font-size: 45px;
}

h2 {
  font-size: 35px;
  color: #ffe4c4;
}

form {
  margin-top: 50px;
  width: 50%;
}

input {
  width: 100%;
  padding: 13px 33px;
  margin-top: 20px;
  border-radius: 8px;
  box-sizing: border-box;
}

.submit {
  text-align: center;
}

input[type="submit"] {
  width: auto;
  padding: 13px;
  margin: 20px auto;
  background-color: #6495ed;
  color: #fff;
  font-size: 20px;
}

.forgot {
  color: #00ffff;
  font-size: 25px;
}

/* login page styling ends  */
/* about leage styling starts */

.about-leage {
  width: 50%;
  margin-top: 20px;
  font-size: 25px;
}

.leage-info {
  min-height: 100vh;
}

.leage-info .wrapper {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(0,128,0,0.7);
}

h3 {
  margin-top: 20px;
  color: #ffe4c4;
  font-size: 36px;
 }

 .leage-history {
  width: 50%;
  margin-top: 20px;
  font-size: 21px;
 }

/* about leage styling ends  */
/* club list styling start  */

.clublist {
  min-height: 100vh;
}

.clublist .wrapper {
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  background-color: rgb(0,128,0,0.7);
}

.clubs-dropper {
  color: #ffe4c4;
  font-size: 27px;
}

.clublistmenu {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  font-size: 20px;
}

.clublistmenu li {
  cursor: pointer;
}

.team-info {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.team-results {
  margin-top: 20px;
}

.team-results-match-info {
  padding: 16px;
  border-bottom: 4px dashed;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  text-align: center;
}

.team-performance-box {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.load-more {
  padding: 10px;
  margin: 10% 36%;
  background-color: #008000;
  color: #fff;
  white-space: nowrap;
}

/* club list styling end  */
/* match details styling start  */

.match-details {
  min-height: 100vh;
}

.match-details .wrapper {
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  background-color: rgb(0,128,0,0.7);
}

.matchdays-dropper {
  color: #ffe4c4;
  font-size:27px
}

.matchdays {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  font-size: 20px;
}

.matchdays li {
  cursor: pointer;
}

.match-result-details {
  padding: 16px 0;
  border-bottom: 4px dashed;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.match-result-teams a{
  color: #fff;
}

.match-result-load-more {
  padding: 10px;
  margin: 10% 25%;
  background-color: #008000;
  color: #fff;
  white-space: nowrap;
}

/* match details styling end  */
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
footer {
  background-color: #a52a2a;
}

footer .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
  
footer img {
  width: 38%;
  border-radius: 50px;
}

.copyright {
  color: #fff;
  font-size: 15px;
}

.social-links li a {
  text-indent: -9999px;
}

.social-links li a::before {
  content: "\f09a";
  padding: 4px 6px;
  float: right;
  border-radius: 100%;
  color: #ffa500;
  font-family: "fontAwesome";
  font-size: 23px;
  text-indent: 0;
  transition: all ease-in-out 0.5s;
  -webkit-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
}

.social-links li:nth-child(2) a::before {
  content: "\f16d";
}

.social-links li:nth-child(3) a::before {
  content: "\f099";
}


 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  